In [1]:
import pandas as pd

In [2]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [3]:
q_df=q_df.fillna("other")

In [4]:
#用一位有效，因為一般性
pf=pd.get_dummies(q_df["Profession"])
q_df = pd.concat([q_df,pf],axis=1)
q_df

      Sex Profession  engineer  other  teacher
0    male    teacher         0      0        1
1    male   engineer         1      0        0
2  female      other         0      1        0
3  female   engineer         1      0        0