In [1]:
import pandas as pd

In [2]:
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [3]:
score_df[['math_score','chinese_score','english_score']].max()

math_score       98
chinese_score    89
english_score    90
dtype: int64

In [4]:
score_df[['math_score','chinese_score','english_score']].min()

math_score       20
chinese_score    23
english_score    40
dtype: int64

In [5]:
score_df.groupby('class').mean()

       student_id  math_score  english_score  chinese_score
class
1             5.0   54.800000      65.800000      64.400000
2             5.0   61.250000      64.750000      67.500000
3            12.5   58.666667      61.166667      50.666667

In [6]:
#2班數學成績最高

In [7]:
X = score_df.groupby("sex")["chinese_score"].mean()["girl"]
Y = score_df.groupby("sex")["chinese_score"].mean()["boy"]
print(X-Y)

7.333333333333329